@font-face {
	font-family: chicago;
	src: url(chicago/ChicagoFLF.ttf);
  }


body{
	font-family: chicago, monospace;

}

.contentwrapper{
	text-align: center;
	margin-top: 6%;

}

.playerHand{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-top: 1em;

}
.computerHand{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	
}

.rck{
	display:none;
}
.ppr{
	display: none;
}
.scs{
	display: none;
}




.pscore{
	display: inline-block;
	font-size: 1.5em;
	margin-left: 10%;
	margin-right: 10%;
}
.pscoreNum{
	margin-top: 15px;
}
.player{
	font-size: .2em;
}
.cscore{
	display: inline-block;
	font-size: 1.5em;
	margin-left: 10%;
	margin-right: 10%;
}
.cscoreNum{
margin-top: 15px;
}
.computer{
	font-size: .2em;
}



.rpsbuttonwrap{
	height: 70px;
}
.rps{
	display: inline;
	margin: .3em;
	font-family: monospace;
	font-size: 2em;
	width: 70px;
	height: 70px;
	border-bottom: 2px dotted transparent;
}

.rock_animation{
	opacity: 0%;
	/* animation: fadein 2s, select 1s infinite;
	animation-delay: 1s;
	animation-fill-mode: forwards; */
	animation: fadein 1s linear 0s 1 normal forwards running, select 1s ease-out 1.7s 3 normal forwards running;
}

.paper_animation{
	opacity: 0%;
	/* animation: fadein 2s, select 1s infinite;
	animation-delay: 2s;
	animation-fill-mode: forwards; */
	animation: fadein 2s linear .5s 1 normal forwards running, select 1s ease-out 1.7s 3 normal forwards running;
}

.scissors_animation{
	opacity: 0%;
	/* animation: fadein 2s, select 1s infinite;
	animation-delay: 3s;
	animation-fill-mode: forwards; */
	animation: fadein 1s linear 1.1s 1 normal forwards running, select 1s ease-out 1.7s 3 normal forwards running;

}

@keyframes select{
	0%{	
		border-bottom: 2px dotted grey;

	}
	99%{
		border-bottom: 2px dotted transparent;
	}
	100%{
		border-bottom: 2px dotted grey;
	}
}


@keyframes fadein {
	0%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.hand:hover{
	background-color: black;
	fill: white;
}

.rpsbuttonwrap{
	margin-top: 2.2em;
}

.button_placeholder{
	display: block;
	opacity: 0%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 20px;
	font-family: chicago, monospace;
	font-size: 1.5em;
	border-radius: 0%;
}
.next{
	display: none;
	opacity: 100%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 20px;
	font-family: chicago, monospace;
	font-size: 1.5em;
	border-radius: 0%;


}

.next:hover{
	background-color: black;
	color: white;

}
.reset{
	display: block;
	margin: 0 auto;
	margin-top: 2em;

	font-family: chicago, monospace;
	border-radius: 0%;
	font-size: .1em;
}

.reset:hover{
	background-color: black;
	color: white;

}


.resetModal{
	text-align: center;
	margin-top: 16em;
}

.playagain{
	font-size: 4em;
	font-family: monospace;
	color: white;
	font-family: chicago, monospace;
	border-radius: 0%;
}

.disappear{
	display:none;
}