body{
	font-family: monospace;

}

.contentwrapper{
	text-align: center;
	margin-top: 150px;

}

.pscore{
	display: inline-block;
	font-size: 10em;
	margin-left: 10%;
	margin-right: 10%;
}
.player{
	font-size: .2em;
}
.cscore{
	display: inline-block;
	font-size: 10em;
	margin-left: 10%;
	margin-right: 10%;
}
.computer{
	font-size: .2em;
}
.rps{
	display: inline;
	margin: .3em;
	font-family: monospace;
	font-size: 3em;
}

.rpsbuttonwrap{
	margin-top: 2em;
}

.reset{
	display: block;
	margin: 0 auto;
	margin-top: 3em;
}


.resetModal{
	text-align: center;
	margin-top: 16em;
}

.playagain{
	font-size: 4em;
	font-family: monospace;
	color: white;
}

.disappear{
	display:none;
}